/* general styles */
body, * {
  font-family: 'Niramit', sans-serif;
}
/* title styles */
h1 {
  text-align: center;
  margin: 0;
}

/* form styles */
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

input, select, label {
  padding: 10px;
}

label {
  padding-top: 2.5px;
  padding-bottom: 0px;
}
input, select, button {
  margin: 10px;
}

.price {
  display: flex;
}

button {
  background-image: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 6px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  /* background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1); */
  background-image: linear-gradient(to bottom,#5d26c1, #a17fe0,#59c173);
  border: none;
  color: white;
  font-size: 20px;
}